<main id="main" class="main">
    <div class="pagetitle">
        <h1>Project</h1>
        <nav>
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active">Project</li>
           </ol>
        </nav>
     </div>
     <div class="pageItems">
         <nav>
             <ol class="breadcrumb">
                 <li class="breadcrumb-item">
                    <a routerLink="/project">Project</a>
                 </li>
                 <li class="breadcrumb-item active" >
                     <a routerLink="/project/board" >Board</a>
                 </li>
 
                 <li class="breadcrumb-item ">
                     <a routerLink="/project/table">Table</a>
                 </li>
                 <li class="breadcrumb-item ">
                     <a routerLink="/project/summary">Dashboard</a>
                 </li>
 
             </ol>
         </nav>
     </div>
     <div class="row "> 
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary"> + Add Column</button>
        </div>
     </div>
    <!-- <div class=" col-4" draggable="true">
        <div class="card recent-sales overflow-auto">
            
            <div class="card-body">
                <h5 class="card-title">New Admin Design</h5>
                <div class="my-4">
                    <span class="bg-primary text-white px-4 py-2">Web Design</span>
                </div>
                <div class="projectdes">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis optio doloribus
                        voluptate necessitatibus iste aliquam magni earum in, dolorum fuga? Itaque in earum
                        vero, at quas vitae optio facere dicta.
                    </p>
                </div>

            </div>

        </div>
    </div> -->

    
 
</main>