<main id="main" class="main">
    <div class="pagetitle">
       <h1>Project</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Project</li>
          </ol>
       </nav>
    </div>
    <div class="pageItems">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a routerLink="/project">Project</a>
                </li>
                <li class="breadcrumb-item ">
                    <a routerLink="/project/board">Board</a>
                </li>

                <li class="breadcrumb-item ">
                    <a routerLink="/project/table">Table</a>
                </li>
                <li class="breadcrumb-item ">
                    <a routerLink="/project/summary">dashboard</a>
                </li>

            </ol>
        </nav>
    </div>
    <section class="section dashboard">
       <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
<div class="card-header">
    <h3>Project Summary</h3>
</div>
                
                <div class="card-body" routerLink="/project">
                    <h5 class="card-title">New Admin Design</h5>
                    <div class="my-4">
                        <span class="bg-primary text-white px-4 py-2">Web Design</span>

                    </div>
                    <div class="projectdes">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis optio
                            doloribus
                            voluptate necessitatibus iste aliquam magni earum in, dolorum fuga? Itaque in
                            earum
                            vero, at quas vitae optio facere dicta.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Created:</b>
                        </div>
                        <div class="col-6">
                            01 Jan 2023
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Creator:</b>
                        </div>
                        <div class="col-6">
                            Ram[manager]
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b> Issues:</b>
                        </div>
                        <div class="col-6">
                            10
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Team:</b>
                        </div>
                        <div class="col-6">
                            6
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b> Due date:</b>
                        </div>
                        <div class="col-6">
                            7th Jan 2023
                        </div>
                    </div>
                </div>
                <div class="card-footer py-3">
                    <label for="" class="label-control">25%</label>
                    <div class="progress" title="25/100">
                        <div class="progress-bar bg-primary" style="width: 25%" role="progressbar"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Project Progress</div>
                    </div>
                </div>
            </div>
        </div>
        
       </div>
    </section>
 </main>