 

<form class="row g-3">
        <div class="projectdetails">
            <h5 class="card-title">User Details</h5>

            <div class="row my-3">
                <div class="col-6"> <label for="projectName" class="form-label"> UserName</label>
                    <input type="text" class="form-control" id="projectName" formControlName="projectTitle" placeholder="Give your project a name" required >
                </div>
                <div class="col-md-6">
                    <label for="inputStateCompany" class="form-label">Choose a Team</label>
                    <select id="inputStateCompany" class="form-select" required formControlName="inputStateCompany" >
                        <option selected>Choose...</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <label for="designation" class="form-label">Add Designation</label>
                <input type="text" id="designation" class="form-control">
            </div>
        </div>
        <div class="text-center form-group d-flex justify-content-between my-4">
            <div class="justify-content-start">
            </div>
            <div class="justify-content-end">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary mx-2" >submit</button>

            </div>
        </div>

</form> 