<main id="main" class="main">
    <div class="pagetitle">
        <h1>Project</h1>
        <nav>
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active">Project</li>
           </ol>
        </nav>
     </div>
     <div class="pageItems">
         <nav>
             <ol class="breadcrumb">
                 <li class="breadcrumb-item active">
                    <a routerLink="/project">Project</a>
                 </li>
                 <li class="breadcrumb-item ">
                     <a routerLink="/project/board">Board</a>
                 </li>
 
                 <li class="breadcrumb-item ">
                     <a routerLink="/project/table">Table</a>
                 </li>
                 <li class="breadcrumb-item active">
                     <a routerLink="/project/summary">Dashboard</a>
                 </li>
 
             </ol>
         </nav>
     </div>

    <section class="section dashboard">
       <div class="row">
          <div class="col-lg-12">
             <div class="row">
                <div class="col-xxl-4 col-md-6">
                   <div class="card info-card sales-card"> 
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Users <span>| Today</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"><i class="bi bi-people"></i></div>
                            <div class="ps-3">
                               <h6>6</h6>
                               <div class="text-success small pt-1 fw-bold">3 <span class="text-muted small pt-2 ps-1">Developers</span></div>
                               <div class="text-danger small pt-1 fw-bold">2 <span class="text-muted small pt-2 ps-1">Testers</span></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xxl-4 col-md-6">
                   <div class="card info-card revenue-card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Tasks <span>| This Month</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-currency-dollar"></i></div>
                            <div class="ps-3">
                               <h6>5</h6>
                               <div class="text-success small pt-1 fw-bold">2<span class="text-muted small pt-2 ps-1">Completed</span></div> 
                               <div class="text-danger small pt-1 fw-bold">3 <span class="text-muted small pt-2 ps-1">Inprogress</span></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xxl-4 col-xl-12">
                   <div class="card info-card customers-card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Reports <span>| This Year</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> </div>
                            <div class="ps-3">
                               <h6>12 </h6>
                               <div class="text-success small pt-1 fw-bold">8<span class="text-muted small pt-2 ps-1">Sucess</span></div> 
                               <div class="text-danger small pt-1 fw-bold">4 <span class="text-muted small pt-2 ps-1">Errors</span></div>
                           
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-12">
                   <div class="card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Reports <span>/Today</span></h5>
                         <div id="reportsChart"></div> 
                      </div>
                   </div>
                </div>
               
                
             </div>
          </div>
        
       </div>
    </section>
 </main>