<main id="main" class="main">
    <div class="pagetitle">
        <h1>Projects</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Projects</li>
            </ol>
        </nav>
    </div>
   
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="w-100 my-3 d-flex  justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#largeModal"> 
                         <i class="bx bx-plus"></i>
                        Add Project</button>
                    <div class="modal fade" id="largeModal" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <app-project-form></app-project-form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-4 col-sm-6" *ngFor="let ele of projects">
                        <div class="card recent-sales overflow-auto">

                            <div class="card-header m-0 p-0 px-4">
                                <h5 class="card-title">{{ele.projectTitle}}</h5>
                            </div>
                            <div class="card-body" routerLink="/project">
                                <div class="my-4">
                                    <span class="bg-primary text-white px-4 py-2">{{ele.projectType}}</span>
                                </div>
                                <div class="projectdes">
                                    <p>{{ele.projectDescription}}
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <b>Created:</b>
                                    </div>
                                    <div class="col-6">
                                        {{ele.createdDate}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <b>Creator:</b>
                                    </div>
                                    <div class="col-6">
                                        {{ele.creator}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <b> Issues:</b>
                                    </div>
                                    <div class="col-6">
                                       0
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <b>Team:</b>
                                    </div>
                                    <div class="col-6">
                                        {{ele.assidnedEmployees}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <b> Due date:</b>
                                    </div>
                                    <div class="col-6">
                                        {{ele.duedate}}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer py-3">
                                <label for="" class="label-control">25%</label>
                                <div class="progress" title="25/100">
                                    <div class="progress-bar bg-primary" style="width: 25%" role="progressbar"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Project Progress</div>
                                </div>
                            </div>
                        </div>
                    </div>
              
                </div>
            </div>

        </div>
    </section>
</main>
